/*** Dashboard ***/
/* Entfernt hartnäckige graue Linie zwischen zweitem Header und Body durch Resetten der Bootstrap-Defaults.
Unten werden die borders dann entsprechend überschrieben.*/
.card-header {
    border: none;
}
/*Rand der äußersten Card*/
.blue-gradient-boards-card{
    border: 1px solid #7a95c3;
    border-radius: 0.4rem;
}
/*Header der äußersten Card*/
.blue-gradient-boards-header{
    background-color: #9bb2e1;
    border-bottom: 1px solid #7a95c3;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}
/*Rand der Spalten-Cards*/
.blue-gradient-spalten-card{
    border: 1px solid #8aa9d6;
    border-radius: 0.4rem;
}
/*Erster Header der Spalten-Cards*/
.blue-gradient-spalten-header{
    background-color: #abbee7;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    border-bottom: 1px solid #8aa9d6;
}
/*Zweiter Header der Spalten-Cards*/
.blue-gradient-spalten-beschreibung{
    background-color: #bacbed;
    border-bottom: 1px solid #8aa9d6;
}
/*Rand der Tasks-Cards*/
.blue-gradient-tasks-card {
    border: 1px solid #99c0e6;
    border-radius: 0.4rem;
    overflow: hidden;
}
/*Erster Header der Tasks-Cards*/
.blue-gradient-tasks-header{
    background-color: #cad8f3;
    border-bottom: 1px solid #99c0e6;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}
/*Zweiter Header der Tasks-Cards*/
.blue-gradient-taskarten{
    background-color: #d9e5f9;
    border-right: 1px solid #99c0e6;
    border-bottom: 1px solid #99c0e6;
}
.blue-gradient-aktionen{
    background-color: #d9e5f9;
    border-bottom: 1px solid #99c0e6;
}
.blue-gradient-notizen{
    background-color: #e9f2ff;
    border-top: 1px solid #99c0e6;
    border-bottom: 1px solid #99c0e6;
}
.blue-gradient-tasks-footer{
    background-color: white;
    border-top: none;
}
/*Sorgt dafür, dass innerhalb der Tasks-Card-Bodies die Icons richtig ausgerichtet sind.*/
.tasks-align-icons{
    width: 1.25rem;
    text-align: center;
    flex-shrink: 0;
}
/*Sorgt dafür, dass innerhalb der Tasks-Card-Bodies die Notizen richtig angezeigt werden.*/
.task-note {
    line-height: 1.4;
    word-break: break-word;
    white-space: pre-line;
}

/*Sorgt dafür, dass die Scrollbar unten nicht aus den Ecken rausclippt*/
.boards-scroll-wrapper{
    overflow-x: auto;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    overflow-y: hidden;
}

/* Suche - Textfeld: ändere Rahmen nicht, und mach rechten Rahmen an dem Button unsichtbar */
.input-group .form-control,
.input-group .form-control:focus {
    border-color: #7a95c3;
    border-right: 1px solid transparent;
    outline: none;
    box-shadow: none;
}
/* erzeugt animierten Glow */
.input-group {
    border-radius: 0.4rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    overflow: hidden;
}
.input-group:focus-within {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

/*Fügt nach der letzten Spalte einen winzig kleinen Abstand ein, sodass gap-3 greifen kann
und die letzte Spalte sich mit den anderen Elementen in der Board-Card ausrichten kann*/
.columns-container::after {
    content: "";
    flex: 0 0 0.001rem;
}



