.bg-blue{
    background-color: #002060;
}

.main-nav .nav-link {
    color: #ffffff;
}

.main-nav .nav {
    margin-left: 0;
    margin-right: auto;
}

.main-nav .nav-link.active {
    font-weight: bold;
}

/* Footer-Stil */
.site-footer {
    color: #ffffff;
    padding: 1rem 0;
}
.site-footer p {
    margin: 0.2rem 0;
    color: inherit;
}